.instructors {
  background: linear-gradient(rgb(0, 14, 36, 1), rgba(0, 0, 0, 0)),
    url(../img/about-us/instructors/instructors-bgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.instructors .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 90px;
}

.instructors__title {
  font-size: 38px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
}

.instructors__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.instructors__item {
  background-color: var(--card-background-color-opacity);
  padding: 43px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.instructors__photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.instructors__name {
  color: var(--card-heading-color);
  font-size: 22px;
}

.instructors__bio {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.5;
}

@media (min-width: 480px) {
  .instructors__list {
    justify-content: center;
    gap: 30px;
  }

  .instructors__item {
    width: calc(50% - 25px);
  }
}

@media (min-width: 768px) {
  .instructors__item {
    padding: 52px 28px;
  }

  .instructors__photo {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 992px) {
  .instructors__list {
    flex-wrap: nowrap;
  }

  .instructors__item {
    width: calc(33.3333% - 25px);

    padding: 70px 30px;
  }
}
