.contacts__page-contacts {
  background: linear-gradient(rgb(0, 14, 36, 1), rgba(0, 0, 0, 0)),
    url("../img/index/contacts/map.background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 450px;
}

.contacts__logo-contacts {
  width: 68px;
}

.contacts__title-contacts {
  font-family: "Dosis", sans-serif;
  font-size: 38px;
  color: var(--h-text-color);
  margin-top: 20px;
}

.contacts__description-contacts {
  font-size: 20px;
  color: var(--p-text-color-description);
  margin-top: 25px;
  line-height: 30px;
}

.contacts__details-contacts {
  margin-top: 25px;
}

.contacts__details-block-contacts {
  margin-bottom: 16px;
}

.contacts__details-label-contacts {
  font-size: 20px;
  font-weight: bold;
  color: var(--p-text-color-description);
  margin-bottom: 5px;
}

.contacts__details-info-contacts {
  font-size: 16px;
  color: var(--text-color);
}

.contacts__form-container-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 370px;
  background-color: var(--form-background-color);
}

.contacts__form-contacts {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  align-items: center;
}

.contacts__input-contacts {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--form-fields-color);
  color: var(--text-color);
  outline-color: var(--form-fields-border-color);
  font-size: 16px;
  max-height: 44px;
  font-size: 12px;
  font-family: "Chivo", sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contacts__input-contacts::placeholder {
  color: var(--form-button-border-color);
}

.contacts__button-contacts {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-button-color);
  color: var(--text-color);
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  width: 160px;
  height: 41px;
  font-family: "Chivo", sans-serif;
  margin-top: 44px;
}

.contacts__button-contacts:hover {
  background-color: var(--form-button-second-color);
}

@media (max-width: 767px) {
  .contacts__block-contacts {
    padding: 0 0 18px 0;
  }

  .contacts__form-container-contacts {
    margin: 0 auto;
    margin-top: 50px;
    min-width: 272px;
  }
}

@media (min-width: 768px) {
  .contacts__page-contacts{
    padding-top: 50px;
    padding-bottom: 100px ;
  }
  .contacts__block-contacts {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__form-contacts {
    max-width: 600px;
  }

  .contacts__details-block-contacts {
    display: flex;
  }

  .contacts__details-label-contacts {
    width: 100px;
  }

  

  .contacts__details-info-contacts {
    margin-left: 50px;
  }
  .contacts__form-container-contacts {
    margin-left: 50px;
    height: 418px;
  }

  .contacts__input-contacts,
  .contacts__button-contacts {
    width: 120%;
  }
}
