/*Markiian Harasym*/
@import url(global.css);
@import url(global.contact-bar.css);
@import url(global.navbar.css);
@import url(contacts.map.css);
@import url(contacts.contacts.css);
@import url(global.footer.css);
