.button {
  display: inline-block;
  padding: 14px 23px;

  font-size: 11px;
  color: var(--button-text-color);
  text-transform: uppercase;

  border: 1px solid;
  border-radius: 40px;
}

.button--primary {
  background-color: var(--primary-button-color);
  border-color: var(--primary-button-color);
}

.button--secondary {
  background-color: transparent;
  border-color: var(--button-border-color);
}
