.background-with-corals {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/diving-school/background-image-with-corals.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}
