/*Markiian Harasym*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&display=swap");

.footer {
  background-color: #000e24;
  padding: 40px 0;
  text-align: center;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.footer__menu__panel {
  width: 272px;
}
.footer__logo__container {
  width: 272px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer__logo-image {
  padding-top: 80px;
  width: 197px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .footer__menu-link {
    color: #fff;
    font-family: "Chivo", sans-serif;
    font-size: medium;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    text-align: center;
    width: 100%;
  }

  .footer__menu-link:hover {
    color: #e7b900;
  }
}
@media (min-width: 990px) {
  .footer__nav {
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #417aa1;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}
.footer__social-link img {
  width: 24px;
  height: 24px;
}

.footer__social-link:hover {
  background-color: #417aa1;
  border-color: #417aa1;
}

.footer__copyrigth {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 12px;
  font-family: "Chivo", sans-serif;
}

.copy__message {
  display: block;
  margin-bottom: 10px;
  margin-left: 15px;
}

@media (min-width: 767px) {
  .copy__message {
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
  }
}
