.header__contact-bar {
  display: none;

  background-color: var(--bg-color);
}

.header__social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 6px 0;
}

.header__social-link {
  width: 30px;
}

.header__social-link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 992px) {
  .header__contact-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
