.contacts {
  background: linear-gradient(
      to bottom,
      rgba(0, 14, 36, 1),
      rgba(0, 14, 36, 0.7),
      rgba(0, 14, 36, 0.2)
    ),
    url("../img/index/contacts/index.contacts.shark-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 450px;
}

.contacts__logo {
  width: 68px;
}

.contacts__title {
  font-family: "Dosis", sans-serif;
  font-size: 38px;
  color: var(--h-text-color);
  margin-top: 20px;
}

.contacts__description {
  font-size: 20px;
  color: var(--p-text-color-description);
  margin-top: 25px;
  line-height: 30px;
}

.contacts__details {
  margin-top: 25px;
}

.contacts__details-block {
  margin-bottom: 16px;
}

.contacts__details-label {
  font-size: 20px;
  font-weight: bold;
  color: var(--p-text-color-description);
  margin-bottom: 5px;
}

.contacts__details-info {
  font-size: 16px;
  color: var(--text-color);
}

.contacts__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 370px;
  background-color: var(--form-background-color);
}

.contacts__form {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  align-items: center;
}

.contacts__input {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--form-fields-color);
  color: var(--text-color);
  outline-color: var(--form-fields-border-color);
  font-size: 16px;
  max-height: 44px;
  font-size: 12px;
  font-family: "Chivo", sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contacts__input::placeholder {
  color: var(--form-button-border-color);
}

.contacts__button {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-button-color);
  color: var(--text-color);
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  width: 160px;
  height: 41px;
  font-family: "Chivo", sans-serif;
  margin-top: 44px;
}

.contacts__button:hover {
  background-color: var(--form-button-second-color);
}

@media (max-width: 767px) {
  .contacts__block {
    padding: 0 0 18px 0;
  }

  .contacts__form-container {
    margin: 0 auto;
    margin-top: 50px;
    min-width: 272px;
  }
}

@media (min-width: 400px)
{
  .contacts__input,
  .contacts__button {
    width: 110%;
  }
}

@media (min-width: 768px) {
  .contacts__block {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__form {
    max-width: 600px;
  }

  .contacts__details-block {
    display: flex;
  }

  .contacts__details-label {
    width: 100px;
  }

  .contacts__details-info {
    margin-left: 50px;
  }
  .contacts__form-container {
    margin-left: 50px;
    margin-right: 0;
    height: 418px;
  }

  .contacts__input,
  .contacts__button {
    width: 90%;
  }
}
@media (min-width: 900px)
{
  .contacts__input,
  .contacts__button {
    width: 120%;
  }
}