.destinations {
  background-image: url(../img/index/destinations/index.section.background.png);
  background-position: center;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;

  .destinations__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .destinations__title {
      margin: 15px auto 18px;
      padding: 0 0 20px;
    }
  }

  .destinations__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .destinations__card {
    display: flex;
    flex-direction: column;
    background-color: var(--background-blocks-description-color);
  }

  .destinations__card-image img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .destinations__card-content {
    padding: 39px 43px;
    font-size: 1.3rem;
  }

  .destinations__card-content p {
    margin-top: 20px;
  }

  .destinations__card-link {
    display: flex;
    margin-top: 35px;
    font-size: 0.69rem;
  }

  .destinations__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    .destinations__list {
      display: grid;
      grid-template-columns: 1fr;
    }

    .destinations__card {
      flex-direction: row;
      align-items: center;
    }

    .destinations__card-image {
      width: 50%;
      height: 100%;
    }

    .destinations__card-content {
      width: 50%;
      padding: 46px 52px;
    }

    .destinations__card:nth-child(2) {
      flex-direction: row-reverse;
    }

    .destinations__title h2 {
      font-size: 2.75rem;
    }
  }

  @media (min-width: 992px) {
    .destinations__title h2 {
      font-size: 3.2rem;
    }

    .destinations__card-content {
      padding: 60px 70px;
    }
  }
}
