.gallery-place {
  padding: 50px 0;
  border-top: 3px;
  background-color: var(--background-body-color);
}

.gallery__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery__description p {
  max-width: 276.5px;
}

.gallery__icon img {
  max-width: 68px;
}

.gallery__description h2 {
  color: var(--h2-text-color);
}

.gallery__description p {
  color: var(--p-text-color-description);
}
.gallery__list {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__image {
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery__image img {
    width: 100%;
    max-width: 370px;
    min-height: 247px;
}
