.diving-packages {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/diving-packages/diving-packages-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}


.diving-packages__title {
    width: 50%;
    max-width: 1000px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.diving-packages__title img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.diving-packages__title h2 {
    font-size: 60px;
    text-align: center;
}

.diving-packages__title p {
    max-width: 450px;
    text-align: center;
    margin: 10px auto;
    line-height: 1.5;
}

.diving-packages__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.diving-packages__content article {
    background-color: var(--background-blocks-description-color);
    padding-bottom: 100px;
    max-width: 350px;
    text-align: center;
}

.diving-packages__content img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.diving-packages__content--service {
    font-size: 30px;
    text-align: center;
    font-family: var(--h4-font-family);
    color: var(--text-color);
    font-weight: 700;
    padding-top: 10%;
}



.diving-packages__content--price {
    font-size: 25px;
    text-align: center;
    font-family: var(--h4-font-family);
    color: var(--text-color);
    font-weight: 700;
    padding-top: 10%;
}

.diving-packages__content--description {
    line-height: 1.5;
    color: var(--p-text-color-description);
}