.explore-phuket {
    border-image:         
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/diving-packages/diving-packages-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 32px 80px 32px;
    text-align: center;
}


.explore-phuket__icons {
    margin-bottom: 18px;
}

.explore-phuket__h2-container {
    margin-bottom: 18px;
}

.explore-phunket__h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.explore-phuket__icons img {
    width: 68px;
    margin-left: auto;
    margin-right: auto;
}

.explore-phuket__content-image-container {
    aspect-ratio: 5/3;
}
.explore-phuket__text-container, .explore-phuket__content-image-container{
    padding: 0 15px;
}
.explore-phuket__content-image-container img {
    height: 100%;
    object-fit: cover;
}

.explore-phuket__content {
    margin-top:50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr); 
    
}


.explore-phuket__text-container {
    text-align: left;
    margin-bottom: 10px;
    justify-content: center;
}
@media (max-width: 768px){
.explore-phuket__content 
{
    grid-template-columns: 1fr; 
} 
}