.why-choose-us {
  text-align: center;
  padding: 40px 20px;
}
.why-choose-us__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .why-choose-us__icon {
    width: 40px;
    height: auto;
  }
  .why-choose-us__container {
    display: grid;
    grid-template-columns: repeat(4,25%);
  }
  .why-choose-us__option {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
