.gallery-place {
  margin: 100px auto;
}

.gallery__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px 0 0;
}

h2 {
  font-size: 2.5rem;
  margin: 15px 0 10px 0;
}

.gallery__description p {
  font-size: 1.25rem;
  line-height: 1.6;
  padding: 20px 0 0;
  font-kerning: auto;
  font-optical-sizing: auto;
}

.gallery__list {
  margin: 50px 0;
  display: grid;
  gap: 20px;
  object-fit: cover;
}

@media (min-width: 479px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
  }

  .gallery__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 991px) {
  .gallery__info {
    margin: 90px 0 20px;
    gap: 10px 0 0;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin: 0;
  }

  .gallery__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 3.12rem;
    margin: 15px 0 10px;
  }

  .gallery__description p {
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 20px 0;
    font-kerning: auto;
    font-optical-sizing: auto;
  }
}
