.courses__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__container {
  background-color: var(--background-blocks-description-color);
  
  .courses__list {
    display: grid;

    .courses__item {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 992px) {
      .courses__item {
        flex-direction: row;
      }
  }

  .courses__description {
    margin: 3% 4%;

  }
}
