.explore-phuket {
    border-image:         
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/diving-packages/diving-packages-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-phunket__h2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.explore-phuket__icons {
    margin-bottom: 18px;
}

.explore-phuket__h2-container {
    margin-bottom: 18px;
}

.explore-phunket__h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.explore-phuket__icons img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.explore-phuket__content-image-container {
    width: 600px;
    aspect-ratio: 5/3;
}

.explore-phuket__content-image-container img {
    height: 100%;
    object-fit: cover;
}

.explore-phuket__content {
    display: flex;
    align-content: center;
}

.explore-phuket__text-container{
    padding-right: 32px;
}

.explore-phuket__text-container p {
    text-align: justify;
    text-justify: distribute;
    margin-bottom: 10px;
}