.contacts {
  background-image: url("../img/index/contacts/index.contacts.shark-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__logo {
  width: 68px;
}

.contacts__title {
  font-family: "Dosis", sans-serif;
  font-size: 38px;
  color: var(--h-text-color);
}

.contacts__description {
  font-size: 20px;
  color: var(--p-text-color-description);
}

.contacts__details-label {
  font-size: 20px;
  font-weight: bold;
  color: var(--p-text-color-description);
}

.contacts__details-info {
  font-size: 16px;
  color: var(--text-color);
}
