.diving-services__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.diving-services__title {
  margin: 15px auto 18px auto;
  font-size: 40px;
}

.list__container {
  display: flex;
  gap: 20px 20px
;
}

.diving-services__list {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  .diving-services__school,
  .diving-services__tours {
    padding: 20px 10px 20px;
  }
  
  .diving-services__image img{
     padding: 10px 0px 10px;
     max-width: px;
    min-height: 150px;
    object-fit: cover;
  
    }
  
    .diving-services__subtitle {
      padding: 10px 0 10px;
      font-size: 22px;
    }
  
    .diving-services__description{
      padding: 10px 0 10px;
      font-size: 16px;
    }  

}

  @media (min-width: 479px) {
    .diving-services__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
    }

    .diving-services__image{
      object-fit: cover;
      object-fit: cover;
    }

}








/*.button--secondary {
  border: 2px solid var(--primary-button-hover-color);
  font-size: 0.69;
  margin-top: 30px;
}
.button--secondary:hover {
  background-color: var(--secondary-button-hover-color);
  border: 2px solid var(--secondary-button-hover-color);
  font-size: 0.69;
  margin-top: 30px;
}

