.courses__info,
.courses__show-more {
  display: flex;
  flex-direction: column;
  align-items: center;

  .aqualung-mask__icon {
    margin-top: 100px;
  }

  h2 {
    font-size: 2.5rem;
    margin: 15px auto 18px auto;
  }
}

.list__container {
  .courses__list {
    display: grid;

    .courses__item {
      background-color: var(--background-blocks-description-color);
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }

    @media (min-width: 992px) {
      .courses__item {
        flex-direction: row;
      }
    }

    .courses__description {
      display: flex;
      flex-direction: column;
      margin: 15px 25px;
    }

    .courses__description h4 {
      font-size: 1.4rem;
      padding: 20px 0 0;
    }

    .courses__description p {
      font-size: 1.05rem;
      line-height: 1.6;
      padding: 20px 0;
      font-kerning: auto;
      font-optical-sizing: auto;
    }

    .courses__description a {
      font-size: 0.69rem;
      padding: 15px 0 20px;
      font-weight: bold;
    }
  }

  @media (min-width: 479px) {
    .courses__list {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;

      .courses__image img {
        object-fit: cover;
        max-width: 448px;
        min-height: 296px;
      }
    }
  }
  @media (min-width: 992px) {
    .courses__title {
      font-size: 3.1rem;
      letter-spacing: -1.05px;
    }
    .courses__list {
      justify-content: center;

      .courses__image {
        flex: 1;
        height: 100%;
      }

      .courses__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .courses__description {
        flex: 1;
      }
    }
  }
}

.button--secondary {
  border: 2px solid var(--primary-button-hover-color);
  font-size: 0.69;
  margin-top: 30px;
}
.button--secondary:hover {
  background-color: var(--secondary-button-hover-color);
  border: 2px solid var(--secondary-button-hover-color);
  font-size: 0.69;
  margin-top: 30px;
}
