.diving-services__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.diving-services__title {
  margin: 15px auto 18px auto;
}

.diving-services__list {
  margin: 50px 0;
  display: grid;
  gap: 20px;
  }

  .diving-services__list img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


@media (min-width: 479px) {
  .diving-services__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }
}

