.ready-diving {
  background: linear-gradient(rgb(0, 14, 36, 1), rgba(0, 0, 0, 0)),
    url(../img/about-us/instructors/instructors-bgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  padding: 50px 0 90px;
}

.ready-diving__form-wrapper {
  width: 300px;
  height: 450px;
  text-align: center;
  margin: 25px auto 60px auto;
  background-color: var(--form-background-color);
  border: none; /* Removes any border */
  box-shadow: none; /* Removes any box shadow */
  outline: none; /* Removes focus outlines */
}

.ready-diving__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px 20px;
  padding-top: 30px;
}

.ready-diving__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 10px 10px;
  border: none; /* Removes any border */
  box-shadow: none; /* Removes any box shadow */
  outline: none; /* Removes focus outlines */
  background-color: transparent;
}

.ready-diving__input,
.ready-diving__select {
  width: 215px;
  height: 35px;
  padding-left: 10px;
  border-radius: 25px;
  background-color: var(--form-input-color);
  border: none;
  color: gray;
  font-family: var(--button-font-family);
}

.ready-diving__form-button {
  padding-top: 30px;
}

.ready-diving__form-button > button {
  width: 215px;
  height: 40px;
}

#ready-diving__form-status {
 position: absolute;
  font-size: 10px;
  align-items: center;
  width: 250px;
  margin-top: 5px;
}

.ready-diving__check.error small {
  visibility: visible;
  color: rgb(227, 227, 119);
}

.ready-diving__check.success small {
  visibility: hidden; /* Hide the error message on success */
}

.ready-diving__err {
  display: block;
  color: rgb(227, 227, 119);
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: start;
  visibility: hidden;
}

@media (min-width: 478px) {
  .ready-diving {
    height: 900px;
  }

  .ready-diving__form-wrapper {
    width: 370px;
    height: 550px;
  }

  .ready-diving__input,
  .ready-diving__select {
    width: 300px;
    height: 43px;
    padding-left: 15px;
    margin-top: 7px;
  }

  .ready-diving__form-button > button {
    width: 300px;
    height: 43px;
    margin-top: 12px;
  }

  #ready-diving__form-status {
    display: block;
    font-size: 13px;
    align-items: start;
    width: 320px;
    margin-top: 8px;
  }

  .ready-diving__err {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (min-width: 912px) {
  .ready-diving__form-wrapper {
    width: 450px;
    height: 580px;
  }

  .ready-diving__form__subtitle > h3 {
    font-size: larger;
  }

  .ready-diving__input,
  .ready-diving__select {
    width: 325px;
    height: 43px;
    padding-left: 15px;
    margin-top: 10px;
  }

  .ready-diving__form-button > button {
    width: 325px;
    height: 43px;
    margin-top: 10px;
  }

  #ready-diving__form-status {
   display: block;
    font-size: 15px;
    align-items: center;
    width: 400px;
  }
}
