.night-dives__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px 20px;
  margin: 40px auto;
}

.night-dives__title {
  margin: 15px auto 18px auto;
  font-size: 40px;
}

.description__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 25px auto;
  text-align: start;
}

.night-dives__detail-item {
  display: flex;
  text-align: left;
  gap: 10px;
}

.description_checkbox {
  width: 20px;
  height: 20px;
}

.night-dives__description-right {
  margin-top: 50px;
}

.description_checkbox {
  margin-right: 10px;
}
.night-dives__image {
  height: 250px;
}

.night-dives__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 70%;
  margin: 50px auto;
}

@media (min-width: 479px) {
  .image__container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .night-dives__description {
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 30px;
   }

  .night-dives__description-left {
    width: 70%;
  }

  .night-dives__description-right {
    width: 30%;
  margin-top: 0px;
  }

   .image__container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
