/*carousel*/
.explore__carousel-container {
  width: 100%;
  height: 100%;
}
/*carousel*/
.explore__carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  color: var(--text-color);
}

.explore__carousel .explore__carousel-list .carousel__item {
  position: absolute;
  inset: 0 0 0 0;
}

.explore__carousel .explore__carousel-list .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content {
  position: absolute;
  top: 10%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* padding-right: 30%; */
  color: var(--text-color);
  text-shadow: 0 1px 9px var(--bg-color);
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-title {
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 8px;
  h2 {
    color: #ff8600;
    line-height: 1em;
    margin-bottom: 10px;
  }
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  .buttons {
  display: grid;
  grid-template-columns: repeat(2, 105px);
  grid-template-rows: 30px;
  gap: 5px;
  margin-top: 20px;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  button {
  border: none;
  background-color: var(--button-text-color);
  letter-spacing: 3px;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  button:nth-child(2) {
  font-weight: bold;
  background-color: transparent;
  color: var(--button-text-color);
  border: 1px solid var(--button-text-color);
}

/* thumbnail */

.explore__carousel-thumbnail {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 410px;
  /* bottom: -63%; */
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 100;
  gap: 40px;
}
.explore__carousel-thumbnail .carousel__item {
  width: 70px;
  height: 80px;
  flex-shrink: 0;
  opacity: 0.9;
  position: relative;
}

.explore__carousel-thumbnail .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.explore__carousel-thumbnail .carousel__item .carousel__item-content {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

  /* arrows */

  .arrows {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 45px);
    gap: 23vw;
    justify-content: center;
    align-items: center;
    bottom: 6.5vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .arrows button {
    width: 45px;
    height: 45px;
    font-weight: bold;
    border-radius: 50%;
    font-size: large;
    background-color: rgba(64, 48, 99, 0.533);
    color: var(--text-color);
    border: 2px solid #eee2;
    transition: 0.5s;
    z-index: 2;
  }

  .arrows button:hover {
    background-color: #eee;
    color: #555;
  }

  .explore__carousel .explore__carousel-list .carousel__item:nth-child(1) {
    z-index: 1;
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .carousel__item-title,
  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .carousel__item-description,
  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContern 0.5s 1s linear 1 forwards;
  }
  @keyframes showContern {
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .carousel__item-title {
    animation-delay: 1.2s;
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .carousel__item-description {
    animation-delay: 1.4s;
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item:nth-child(1)
    .buttons {
    animation-delay: 1.6s;
  }













@media screen and (min-width: 425px) {
  .explore__carousel {
    height: 500px;
  }
  .explore__carousel-thumbnail .carousel__item {
    width: 15vw;
    height: 17vw;
  }

  .arrows {
    gap: 18vw;
    bottom: 6vw; /* initial 50px */
    left: 50%; /* initial 50% */
    transform: translateX(-50%);
    z-index: 100;
  }

  .explore__carousel-thumbnail {
    flex-direction: row;
    left: 42%;
    top: auto;
    bottom: 10px;
    transform: translateX(0);
    width: max-content;
    z-index: 100;
    gap: 70px;
  }
  
}

@media screen and (min-width: 540px) {
  .explore__carousel {
        min-height: 500px;
  }
  .explore__carousel-thumbnail {
    gap: 110px;
  }

}




@media screen and (min-width: 768px) {
  .explore__carousel {
    max-height: 850px;
    min-height: 500px;
  }
  .explore__carousel
    .explore__carousel-list
    .carousel__item
    .carousel__item-content {
    position: absolute;
    top: 15%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: var(--text-color);
    text-shadow: 0 1px 8px var(--bg-color);
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item
    .carousel__item-title {
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 10px;
    h2 {
      color: #ff8600;
      line-height: 1em;
      margin-bottom: 15px;
    }
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item
    .carousel__item-content
    .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
  }

  .explore__carousel
    .explore__carousel-list
    .carousel__item
    .carousel__item-content
    button {
    border: none;
    background-color: var(--button-text-color);
    letter-spacing: 3px;
  }
  .explore__carousel
    .explore__carousel-list
    .carousel__item
    .carousel__item-content
    button:nth-child(2) {
    font-weight: bold;
    background-color: transparent;
    color: var(--button-text-color);
    border: 1px solid var(--button-text-color);
  }

  /* thumbnail */

  .explore__carousel-thumbnail {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: auto;
    bottom: 20px; /* initial 50px */
    left: 56%; /* initial 50% */
    transform: translateX(0);
    width: max-content;
    z-index: 100;
    gap: 20px;
  }
  .explore__carousel-thumbnail .carousel__item {
    width: 120px;
    height: 175px;
    flex-shrink: 0;
    opacity: 0.9;
    position: relative;
  }

  .explore__carousel-thumbnail .carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .explore__carousel-thumbnail .carousel__item .carousel__item-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  .explore__carousel-thumbnail
    .carousel__item
    .carousel__item-content
    .carousel__item-title {
    font-weight: bold;
  }

  /* arrows */

  .arrows {
    position: absolute;
    display: flex;
    align-items: center;
    top: 77%;
    left: 35%;
    width: 300px;
    max-width: 30%;
    gap: 10px;
  }

  .arrows button {
    width: 45px;
    height: 45px;
    font-weight: bold;
    border-radius: 50%;
    font-size: large;
    background-color: rgba(64, 48, 99, 0.533);
    color: var(--text-color);
    border: 2px solid #eee2;
    transition: 0.5s;
    z-index: 2;
  }

  .arrows button:hover {
    background-color: #eee;
    color: #555;
  }

  .explore__carousel.arrows__next
    .explore__carousel-list
    .carousel__item:nth-child(1)
    img {
      width: 120px;
      height: 175px;
    position: absolute;
    left: 56%;
    bottom: 20px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
  }

  @keyframes showImage {
    to {
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
    }
  }

  .explore__carousel.arrows__next
    .explore__carousel-thumbnail
    .carousel__item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
  }
  @keyframes showThumbnail {
    to {
      width: 150px;
    }
  }

  .explore__carousel.arrows__next .explore__carousel-thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;
  }

  @keyframes transformThumbnail {
    to {
      transform: translateX(0);
    }
  }

  /* effect prev button click  */
  .explore__carousel.arrows__prev
    .explore__carousel-list
    .carousel__item:nth-child(2) {
    z-index: 2;
  }

  .explore__carousel.arrows__prev
    .explore__carousel-list
    .carousel__item:nth-child(2)
    img {
    position: absolute;
    left: 0;
    bottom: 0;
    animation: outImage 0.5s linear 1 forwards;
  }
  @keyframes outImage {
    to {
      width: 120px;
      height: 175px;
      border-radius: 20px;
      left: 56%;
      bottom: 20px;
    }
  }

  .explore__carousel.arrows__prev
    .explore__carousel-thumbnail
    .carousel__item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
  }

  .explore__carousel.arrows__prev
    .explore__carousel-list
    .carousel__item:nth-child(2)
    .carousel__item-title,
  .explore__carousel.arrows__prev
    .explore__carousel-list
    .carousel__item:nth-child(2)
    .carousel__item-description,
  .explore__carousel.arrows__prev
    .explore__carousel-list
    .carousel__item:nth-child(2)
    .buttons {
    animation: contentOut 0.5s linear 1 forwards;
  }

  @keyframes contentOut {
    to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }
  .explore__carousel.arrows__prev .arrows button,
  .explore__carousel.arrows__next .arrows button {
    pointer-events: none;
  }

  /* time */
  .explore__carousel-time {
    width: 0;
    height: 3px;
    background-color: #ff8600;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .explore__carousel.arrows__prev .explore__carousel-time,
  .explore__carousel.arrows__next .explore__carousel-time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
  }

  @keyframes timeRunning {
    to {
      width: 0;
    }
  }

  /* @media screen and (max-width: 678px) {
    .explore__carousel
      .explore__carousel-list
      .carousel__item-content
      .carousel__item-content {
      padding-right: 0;
    }

    .explore__carousel
      .explore__carousel-list
      .carousel__item-content
      .carousel__item-content
      .carousel__item-title {
      font-size: 30px;
    }
  } */
}