.nine-dives__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
  margin: 40px 0 0;
}

.nine-dives__description-container {
  display: grid;
  align-items: center;
  gap: 30px 0;
  margin: 30px 0;
}

.nine-dives__descroption-list {
  width: 100%;
  align-content: left;
}

.descroption__list-item {
    display: flex;
    gap: 10px;
}

.descroption_checkbox {
    width: 20px;
    height: 20px;
}

.descroption_checkbox img {
    width: 100%;
    height: 100%;
}

.nine-dives__footer-item {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.nine-dives__footer-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}

@media (min-width: 479px) {
  .nine-dives__footer-item {
    height: 40vh;
    overflow: hidden;
  }

  .nine-dives__footer-item img {
    object-position: 50% 80%;
  }
}

@media (min-width: 768px) {

    .nine-dives__description-container {
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        align-items: normal;
    }

  .nine-dives__footer-item {
    height: 45vh;
    overflow: hidden;
  }

  .nine-dives__footer-item img {
    object-position: 50% 83%;
  }
}

@media (min-width: 912px) {
    .nine-dives__footer-item {
      height: 50vh;
      overflow: hidden;
    }
  
    .nine-dives__footer-item img {
      object-position: 50% 90%;
    }
  }
