/*carousel*/
.explore__carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  color: var(--text-color);
}
.explore__carousel .explore__carousel-list .carousel__item {
  position: absolute;
  inset: 0 0 0 0;
}

.explore__carousel .explore__carousel-list .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content {
  position: absolute;
  top: 15%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: var(--text-color);
  text-shadow: 0 1px 8px var(--bg-color);
  /* background-color: rgba(22, 1, 70, 0.205); */
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-title {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.2em;
  letter-spacing: 10px;
  h2 {
    color: #ff8600;
  }
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  button {
  border: none;
  background-color: var(--button-text-color);
  letter-spacing: 3px;
}
.explore__carousel
  .explore__carousel-list
  .carousel__item
  .carousel__item-content
  button:nth-child(2) {
  font-weight: bold;
  background-color: transparent;
  color: var(--button-text-color);
  border: 1px solid var(--button-text-color);
}

/* thumbnail */

.explore__carousel-thumbnail {
  display: flex;
  position: absolute;
  bottom: 30px; /* initial 50px */
  left: 57.4%; /* initial 50% */
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.explore__carousel-thumbnail .carousel__item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.explore__carousel-thumbnail .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.explore__carousel-thumbnail .carousel__item .carousel__item-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.explore__carousel-thumbnail
  .carousel__item
  .carousel__item-content
  .carousel__item-title {
  font-weight: bold;
}

/* arrows */

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  font-size: large;
  background-color: #eee4;
  color: var(--text-color);
  border: none;
  transition: 0.5s;
  z-index: 2;
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
}

.explore__carousel .explore__carousel-list .carousel__item:nth-child(1) {
  z-index: 1;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .carousel__item-title,
.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .carousel__item-description,
.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContern 0.5s 1s linear 1 forwards;
}
@keyframes showContern {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .carousel__item-title {
  animation-delay: 1.2s;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .carousel__item-description {
  animation-delay: 1.4s;
}

.explore__carousel
  .explore__carousel-list
  .carousel__item:nth-child(1)
  .buttons {
  animation-delay: 1.6s;
}

/* effect next click */

.explore__carousel.arrows__next
  .explore__carousel-list
  .carousel__item:nth-child(1)
  img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 57.4%;
  bottom: 30px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.explore__carousel.arrows__next
  .explore__carousel-thumbnail
  .carousel__item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail {
  to {
    width: 150px;
  }
}

.explore__carousel.arrows__next .explore__carousel-thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* effect prev button click  */
.explore__carousel.arrows__prev
  .explore__carousel-list
  .carousel__item:nth-child(2) {
  z-index: 2;
}

.explore__carousel.arrows__prev
  .explore__carousel-list
  .carousel__item:nth-child(2)
  img {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
  to{
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 57.4%;
    bottom: 30px;
  }
}

/* .explore-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.explore__gallery {
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  height: 40vh;
  gap: 4px;
  width: 100%;
  transition: transform 0.5s ease-in-out; 
}

.carousel__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
