<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Packages Page</title>
    <link
      rel="shortcut icon"
      href="img/global/icon.svg"
      type="image/image/svg+xml"
    />
    <link rel="stylesheet" href="css/packages.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <header class="header">
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.contact-bar.partial.html"
    ></div>
    <div class="container">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.navbar.partial.html"
      ></div>
    </div>
  </header>
  <body>
    <!-- Olekdandr Drozhcha: Explore Phuket -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="packages.explore-phuket.partial.html"
    ></section>
    <div
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="packages.explore-phuket.carousel.partial.html"
  ></div>
    <!-- Olekdandr Drozhcha: 3 Days - 9 Dives -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="packages.three-days-nine-dives.partial.html"
    ></section>
    <!--Alina Kolomiitseva-->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="packages.night-dives.partial.html"
    ></div>
    <!--Alina Kolomiitseva-->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="packages.3caves-3days.partial.html"
    ></div>
    <!--Alina Kolomiitseva-->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="packages.ready-diving.partial.html"
    ></div>
    <script src="js/packages.js"></script>
    <script src="./js/packages.explore-phuket.carousel.js"></script>
  </body>
  <footer>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></div>
  </footer>
  <script type="module" src="./js/index.js"></script>
</html>
